<p>เรียนคุณ {{customer.firstName}},</p>
<p>บริษัทได้รับการยืนยันการชำระเบี้ยประกันของท่านเรียบร้อยแล้ว และกรมธรรม์ของท่านได้เริ่มมีผลคุ้มครอง</p>
<p>กรุณาตรวจสอบเอกสารกรมธรรม์ที่แนบมากับอีเมลฉบับนี้</p>
<p>หากมีข้อสงสัยเพิ่มเติม ท่านสามารถติดต่อฝ่ายบริการลูกค้าได้ตลอดเวลาค่ะ/ครับ</p>

<br/>
<p>ขอขอบคุณที่ไว้วางใจใช้บริการของเรา</p>
<p><strong>ด้วยความเคารพ</strong></p>
<p>บริษัทประกันชีวิตของท่าน</p>